.main{
    width: 360px;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    padding: 15px;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid grey; */
    background-color: white;
    gap: 5px;
    box-shadow: 2px 2px 2px rgba(182, 181, 181, 0.5), 2px -2px 2px rgba(182, 181, 181, 0.5);
    
}

.main .profile{
    border: 1px solid rgba(182, 181, 181, 0.5);
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}
.main .profile div{
    display: flex;
    gap: 12px;
    align-items: center;
    /* padding-bottom: 10px; */
}
.main .profile div:hover{
    background-color: rgb(236, 236, 236);
}
.main .profile p{
    color: blue;
    font-weight: 430;
}
.main .profile div p{
    font-size: 18px;
    color: black;
    font-weight: 450;
}

.main .profile div img{
    width: 45px;
}

.main .options{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    border-radius: 5px;
    padding: 5px;
}
.main .options:hover{
    background-color: rgb(241, 240, 240);
}
.main .options div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.main .options .icon{
    background-color: rgb(224, 224, 224);
    padding: 7px;
    border-radius: 50%;
    font-size: 22px;
}
.main .options  p{
    font-size: 14px;
    font-weight: 500;
    color: rgb(53, 53, 53);
}
.main .options .arrow{
    font-size: 25px;
}

.privacy{
    padding-top: 10px;
}
.privacy p{
    font-size: 12px;
    color: grey;
}