.footer{
    padding: 0px 12%;
    background-color: white;
    /* border: 1px solid red; */
}
.main{
    padding: 35px 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.main .langauge{
    display: flex;
    gap: 10px;
    font-size: 12px;
    color: grey;
    flex-wrap: wrap;
}
.main .terms{
    display: flex;
    gap: 2px;
    font-size: 12px;
    color: grey;
    flex-wrap: wrap;
}
.main ul li{
    list-style: none;
}
.main .terms li{
    margin-right: 20px;
}
.main p{
    color: grey;
    font-size: 12px;
}